
  <div class="card text-center" id="post-list">
    <div class="container">
      <div class="card-body">
        <div *ngIf="!post" class="form-check d-flex justify-content-center" >
          <h3 class="text-center pt-3" mat-dialog-title>Create Post</h3>
        </div>
        <div *ngIf="post" class="form-check d-flex justify-content-center">
          <h3 class="text-center pt-3" mat-dialog-title>Update Post</h3>
        </div><mat-dialog-content>
        <div class="input-group mb-3">
          <span class="input-group-text">Post Title</span>
          <input type="text" class="form-control" [(ngModel)]="title">
        </div>

        <div class="input-group mb-3">
          <div class="form-floating">
          <textarea [(ngModel)]="body" class="form-control" placeholder="Post goes here"
                    id="bodyInput" style="height: 100px"></textarea>
          </div>
        </div>
        <div class="error-message">{{errorMessage}}</div>
        <div *ngIf="!post">
          <button class="btn btn-light" (click)="onCreate()">Create</button>
        </div>
        <div *ngIf="post">

          <button class="btn btn-light" (click)="onUpdate()">Update</button>
          <button class="btn btn-light" (click)="onCancel()">
            <mat-icon>close</mat-icon>
          </button>

        </div>
      </mat-dialog-content>
      </div>
    </div>
  </div>


<ng-container *ngIf="!post">
<mat-dialog-actions>
  <div class="modify-buttons">
  <button class="btn btn-light" mat-dialog-close="true">Close</button>
  </div>
</mat-dialog-actions>
</ng-container>
