<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse">
  <div class="position-sticky">
    <!-- Search form -->
    <div class="sidebar-spacing">
      <div class="card text-center">
        <div ><span class="centering">Navigation</span></div>

        <div class="list-group list-group-flush mx-3 mt-4">

          <div class="nav-buttons"></div>

          <div >
            <i class="fas fa-chart-area fa-fw me-3"></i><span> </span>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple" (click)="home()">
              <i class="fas fa-chart-area fa-fw me-3"></i><span>Home</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple" (click)="pm()">
              <i class="fas fa-chart-area fa-fw me-3"></i><span>Find People</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple" (click)="post()">
              <i class="fas fa-chart-area fa-fw me-3"></i><span>Post</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple" (click)="logout()"
            ><i class="fas fa-lock fa-fw me-3"></i><span>Logout</span>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</nav>
<!-- Sidebar -->

<!-- Navbar -->
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light fixed-top">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#sidebarMenu"
      aria-controls="sidebarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Brand -->
    <a class="navbar-brand" id="title-style" (click)="home()">
      <!--      <img id="logo"-->
      <!--           src="https://t3.ftcdn.net/jpg/02/05/82/94/360_F_205829429_majz1Np54rpCmhCIXCVgBjj3lq80btiD.jpg"-->
      <!--           width="10%" height="10%" alt="a social city">-->
      Social City
    </a>


    <!-- Right links -->
    <ul class="navbar-nav ms-auto d-flex flex-row">
      <!-- Notifications -->

      <!-- Avatar todo drop down -->
      <div *ngIf="account !== null">
        <div (click)="profile()">

          <li class="white-font">{{account.fName}} {{account.lName}}      </div>
        <li id="navbar">

            <ng-container *ngIf="account.profilePic == null">
              <mat-icon class="white-icon">account_circle</mat-icon>
            </ng-container>

            <ng-container *ngIf="account.profilePic != null">
              <img
                src="{{account.profilePic}}"
                class="rounded-circle"
                height="40"
                alt="Avatar"
                loading="lazy"
              />
            </ng-container>

          <mat-icon class="white-icon" matBadge="3" matBadgeColor="warn">mark_unread_chat_alt</mat-icon>



          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" href="#">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Logout</a>
            </li>
          </ul>
      </div>
    </ul>

  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
