<div class="card text-center" id="post-list">
  <div class="container" *ngIf="post">
    <ng-container *ngIf="post.author.profilePic == null">
      <mat-icon class="profilePic" aria-hidden="false">account_circle</mat-icon>
    </ng-container>
    <ng-container *ngIf="post.author.profilePic != null" >
      <img class="profilePic" src="{{post.author.profilePic}}" (click)="profile()"
           alt="{{post.author.fName}} {{post.author.lName}} picture">
    </ng-container>
    <div class="post-details">
      <h5 class="date">
        {{post.createDate | date  :'medium' }}
        <ng-container *ngIf="post.updateDate">// Updated: {{post.updateDate | date  :'medium' }}    </ng-container>
         <div class="container"> {{viewCount}} Unique view<ng-container *ngIf="viewCount > 1">s</ng-container></div>
        <h3 class="post-title">{{post.title}}</h3>
      </h5>
    </div>
    <h5 class="authorName">by {{post.author.fName}} {{post.author.lName}}</h5>
    <div class="post-body">
      <p class="post-body">
        {{post.body}}
      </p>
    </div>
    <ng-container *ngIf="this.account !== null">
      <div *ngIf="post.author.id == this.account.id" class="modify-buttons">
        <button class="btn btn-light" (click)="onUpdate()">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="btn btn-light" (click)="onDelete()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <div *ngIf="post.comment !== undefined && post.comment !==null" class="counts">{{post.comment.length}}
        comment<ng-container *ngIf="post.comment.length > 1">s</ng-container> <br>
      </div>
    </ng-container>

    <app-comment-input>
    </app-comment-input>


    <ng-container *ngIf="post.comment !== undefined">

      <div class="container">
        <app-comment
          *ngFor="let comment of post.comment"
          [comment]="comment"
        ></app-comment>
      </div>
    </ng-container>
  </div>
</div>
