<div class="card text-center" id="message-list">
  <div class="container">
<ng-container *ngIf="this.sender !== null && this.receiver !== null">
  {{sender.fName}}{{sender.lName}} && {{receiver.fName}}{{receiver.lName}} chat

  <div class="container">
  <ng-container *ngFor="let message of messageList">
    <div class="container">
    {{message.sender.fName}} says {{message.message}}
    </div>
  </ng-container>
  </div>

  <div id="error" role="alert">{{errorMessage}}</div>
  <div class="input-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="message"><button class="input-group-text" (click)="sendMessage()">Send</button>
  </div>
</ng-container>
</div>
</div>
