<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
<div class="form-container">

  <div><input class="form-control me-2" [(ngModel)]="email" placeholder="username"></div>
  <div><input type="password" class="form-control me-2" [(ngModel)]="password" placeholder="password"></div>
  <button class="btn btn-outline-success" (click)="loginClick()">Login</button>
  <button class="btn btn-outline-success" (click)="registerClick()">Register</button>
  <div class="error-message">{{errorMessage}}</div>
</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>
