<div class="card text-center" id="post-list" (click)="viewPost()">
  <div class="container" *ngIf="post">


    <ng-container *ngIf="post.author.profilePic == null">
      <mat-icon class="profilePic" aria-hidden="false" (click)="profile()">account_circle</mat-icon>
    </ng-container>
    <ng-container *ngIf="post.author.profilePic != null">
      <img class="profilePic" src="{{post.author.profilePic}}" (click)="profile()"
           alt="{{post.author.fName}} {{post.author.lName}} picture">
    </ng-container>


    <span class="post-details">
      <h5 class="authorName"> {{post.author.fName}} {{post.author.lName}}
        //   {{post.createDate | date  :'medium' }}
        <ng-container *ngIf="post.updateDate">// Updated: {{post.updateDate | date  :'medium' }}    </ng-container>
        <h3 class="post-title">{{post.title}}</h3>
      </h5>

  </span>
    <div class="card-header">{{bodyTrim}}</div>

</div>
  </div>
