<div class="card text-center" id="post-list">
<div class="container" *ngIf="post">

  <div class="date"><img class="profilePic" src="{{post.author.profilePic}}"
                         alt="{{post.author.fName}} {{post.author.lName}} picture">
    <h5 class="authorName"> {{post.author.fName}} {{post.author.lName}}
      //   {{post.createDate | date  :'medium' }}
      <ng-container *ngIf="post.updateDate">//  Updated: {{post.updateDate | date  :'medium' }}    </ng-container>

    </h5>

     </div>

  <h3 class="postTitle" (click)="viewPost()">{{post.title}}</h3>


  <!--  class="card-footer text-muted"  <div class="card-header"></div>-->
  <div class="card-body">
    <p class="card-text">
      {{bodyTrim}}
    </p>
  </div>
</div>
</div>
