/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: #0a1578;
  background-image: url("https://static.vecteezy.com/system/resources/previews/007/819/673/original/illustration-design-of-city-building-silhouette-background-at-night-with-shining-moon-and-stars-free-vector.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  margin: 0;
  font-family: Georgia, serif;
}

.title {
  color: darkmagenta
}

.buttons {
  color: rebeccapurple
}

#sidebarMenu, #navbar-brand, #navbar, .logo, #logo {

  border-radius: 50%;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 800px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.rounding, .profilePic, .profilePicBig{
  border-radius: 50%;
}
.profilePic, #align-left{
  width: 75px;
  height: 75px;
  float: left;
}

.profilePicRight{
  width: 75px;
  height: 75px;
  float: right;
}

.profilePicBig {
  width: 300px;
  height: 300px;
  float: left;
}

.post-body{
  text-align: left;
}

.centering{
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  font-family: Georgia, serif;
  font-size: large;
  color: darkslategrey;
  font-variant: small-caps;
}
.message-container{
  align-items: center;
  justify-content: center;
}


#post-list, #pm-list, #message-list{
  margin: 3rem;
  padding: 3rem;
}

.post-details {
  margin: .25rem;
  color: darkgrey;
  font-size: small;
  font-variant: small-caps;
}

#comment, .comment .sidebar-spacing {
  margin: 1rem;
  padding: 1rem;
  color: black;
}
.sidebar-spacing{
  margin: 1.5rem;
}
.comment  {

  padding: 1rem;
}

.close-button, .modify-buttons {
  display: flex;
  justify-content: flex-end;
}

.modify-buttons {
  justify-self: flex-end;
  padding: 1rem;
}

.post-details {
  justify-self: flex-start;
  padding-top: 3rem;
  padding-left: 3rem;
}

.authorName {
  justify-self: flex-start;
  padding-left: 3rem;
}

.white-font, .white-icon, #title-style {
  color: white;
}

.white-font, #title-style {
  font-family: Georgia, serif;
  font-variant: small-caps;
}

#title-style {
  mix-blend-mode: multiply;
  font-size: xxx-large;
}

.post-title {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  font-family: Georgia, serif;
  font-size: large;
  color: darkslategrey;
  font-variant: small-caps;
  text-align: justify;
}

#error-message, .error-message {
  color: chocolate;
}

.column-picture{
  width: 25%;
  padding: 2rem;
  float: left;
}
.column-content{
  width: 75%;
  padding: 2rem;
  float: left;
  word-wrap: break-word;
}
