/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: darkolivegreen;
  background-image: url("https://static.vecteezy.com/system/resources/previews/007/819/673/original/illustration-design-of-city-building-silhouette-background-at-night-with-shining-moon-and-stars-free-vector.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  margin: 0;
  font-family: Georgia, serif;
}

.title {
  color: darkmagenta
}

.buttons {
  color: rebeccapurple
}

#sidebarMenu, #navbar-brand, #navbar, .logo, #logo {

  border-radius: 50%;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

/*@media (max-width: 991.98px) {*/
/*  .sidebar {*/
/*    width: 100%;*/
/*  }*/
/*}*/
.sidebar .active {

  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.profilePic {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  float: left;
}
.profilePicBig {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  float: left;
}


.centering {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  font-family: Georgia, serif;
  font-size: large;
  color: darkslategrey;
  font-variant: small-caps;
}


#post-list, #pm-list{
  margin: 3rem;
  padding: 3rem;
}

.close-button, .modify-buttons {
  display: flex;
  justify-content: flex-end;
}

.modify-buttons {
  justify-self: flex-end;
  padding: 1rem;
}

.date {
  justify-self: flex-start;
  top-padding: 3rem;
  left-padding: 3rem;
}

.authorName {
  justify-self: flex-start;
  left-padding: 3rem;
}


#title-style {
  mix-blend-mode: multiply;
  font-family: Georgia, serif;
  font-size: xxx-large;
  color: white;
  font-variant: small-caps;
}

.postTitle {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  font-family: Georgia, serif;
  font-size: large;
  color: darkslategrey;
  font-variant: small-caps;
}
