

<div class="error-message" role="alert">{{errorMessage}}</div>
<div class="input-group mb-3">
  <input type="text" class="form-control" [(ngModel)]="comment"><button *ngIf="selectedComment == null" class="input-group-text" (click)="addComment()">Add Comment</button>
  <button *ngIf="selectedComment !== null" class="input-group-text" (click)="cancelUpdate()">
    <mat-icon>cancel</mat-icon>
  </button>
  <button *ngIf="selectedComment !== null" class="input-group-text" (click)="updateComment()">Update Comment</button>

</div>
